.posted {
        padding-top: 50px;
}

.postForm {
        position: relative;
}

.postedImg {
        margin-left: 150px;
        width: 70vw;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
}

.postFormGroup {
        margin-left: 150px;
        display: flex;
        align-items: center;
}

.addFile {
        width: 50px;
        height: 50px;
        border-radius: 7px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: #53b8bb;
        cursor: pointer;
}

.titleInput {
        font-size: 30px;
        padding: 20px;
        width: 70vw;
}

.userInput {
        margin: 10px;
        font-size: 30px;
        padding: 20px;
        width: 70vw;
}

.descInput {
        margin: 10px;
        font-size: 30px;
        padding: 20px;
        width: 70vw;
}

.submit {
        position: absolute;
        top: 20px;
        right: 50px;
        background-color: #53b8bb;
        color: #f3f2c9;
        padding: 10px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-size: 20px;
}

.postImage {
        margin-left: 150px;
        width: 70vw;
        height: 250px;
        border-radius: 7px;
        object-fit: cover;
}
