.header {
        margin-top: 60px;
}

.headerTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.headerTitleS {
        position: absolute;
        top: 470px;
        font-size: 30px;
        color: #6fd8db;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
}

.headerTitleL {
        position: absolute;
        top: 70px;
        font-size: 100px;
        color: #53b8bb;
}

.headerImage {
        width: 100%;
        height: 100%;
        margin-top: 80px;
        object-fit: cover;
}
